@import 'vars'

.body
  display: flex
  flex-flow: column
  flex: 1
  width: 100%
  max-width: 1320px
  margin: 0 auto
  padding: 0 15px

.column
  display: flex
  flex-flow: column

.row
  display: flex
  align-items: center
