//base font size
$baseFontSize: 16px

//heights
$footerHeight: 144px
$headerHeight: 90px

//colors
$c-baseText: #fff
$c-alternateText: #000
$c-body: #30333D
$c-border: #5A5F6D
$c-header: #fff
$c-buttonNext: #2B50ED
