<!DOCTYPE html>
<html lang="en">
//= ../atoms/head.html
<body>
<header>
  <div class="header container">
    <div class="column">
        <span class="logo">
          <img src="img/logo.svg" alt="Physical Transformation" />
        </span>
      <span class="step">18-й поток</span>
    </div>
    <div class="user">
      <span class="user__name">Екатерина</span>
      <img src="img/user-logo.png" alt="userpic" class="user__logo" title="Екатерина" />
    </div>
  </div>
</header>
<div class="body container">
  <div class="content">
    <h1 class="page__title">Поздравляю!</h1>
    <p>Стартовая анкета принята! Отправь 3 фотографии актуальной формы тела (вид спереди, сзади, сбоку), кнопка “Загрузить фото” на главной странице приложения Физикл. Фото сделай утром, натощак после туалета. в минимуме одежды. Фото в гидрокостюме не принимаются! ))</p>
    <p>Внимание! Физикл против “грязного” массонабора. Если твой процент жира еще достаточно высок, скорее всего, мы предложим тебе вариант “Похудание” досушим тебя до нужного состояния и только после этого отправим в набор мышечной массы.</p>
    <a href="/index.html" class="link__next">
      Перейти на главную
      //= ../icons/icon-arrow-right.html
    </a>
  </div>
</div>
//= ../atoms/footer.html
</body>
</html>
