<!DOCTYPE html>
<html lang="en">
  //= ../atoms/head.html
  <body class="not-found">
    <header>
      <div class="header container">
        <div class="column">
            <span class="logo">
              <img src="img/logo.svg" alt="Physical Transformation" />
            </span>
          <span class="step">18-й поток</span>
        </div>
        <div class="user">
          <span class="user__name">Екатерина</span>
          <img src="img/user-logo.png" alt="userpic" class="user__logo" />
        </div>
      </div>
    </header>
    <div class="body container">
      <div class="row">
        <div class="content">
          <h1 class="page__title">Уупс!</h1>
          <p><b>Страница не найдена.</b></p>
          <p>То, что вы ищете не существует, или нами еще не изучено :)<br />Перейдите на <a href="/index.html" class="link__base">главную страницу</a>, и попробуйте найти нужную вам информацию там.</p>
          <a href="/index.html" class="link__next">
            Перейти на главную
            //= ../atoms/icon-arrow-right.html
          </a>
        </div>
        <div class="not-found__image">
          <img src="img/not-found.jpg" alt="not found" />
        </div>
      </div>
    </div>
    //= ../atoms/footer.html
  </body>
</html>
