@font-face {
  font-family: 'IBM Plex Sans';
  src: local("IBM Plex Sans"), url("../fonts/IBMPlexSans-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'IBM Plex Sans';
  src: local("IBM Plex Sans"), url("../fonts/IBMPlexSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'IBM Plex Sans';
  src: local("IBM Plex Sans"), url("../fonts/IBMPlexSans-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'IBM Plex Sans';
  src: local("IBM Plex Sans"), url("../fonts/IBMPlexSans-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'IBM Plex Sans';
  src: local("IBM Plex Sans"), url("../fonts/IBMPlexSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 1.4;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #30333D;
  min-height: 100vh; }
  body.modal {
    overflow: hidden;
    margin-right: 16px; }
  body.not-found {
    background-color: #fff;
    color: #000; }

* {
  box-sizing: inherit; }

div, ul {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: white; }

.body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex: 1;
  flex: 1; }

.column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (max-width: 768px) {
    .container {
      padding: 0 24px; } }
  @media (max-width: 576px) {
    .container {
      padding: 0 18px; } }
  @media (max-width: 320px) {
    .container {
      padding: 0 15px; } }

button {
  outline: none;
  cursor: pointer; }

header {
  position: relative;
  background-color: #fff;
  height: 90px;
  color: #000;
  box-shadow: 0 1px 12px rgba(48, 51, 61, 0.18);
  z-index: 1; }

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }
  .header .header__right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
  .header .user {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    .header .user .user__name {
      margin-right: 16px; }
    .header .user .user__logo {
      width: 40px;
      height: 40px;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      border-radius: 50%; }
  .header .header__vk {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #2B50ED;
    border-right: 1px solid #E0E8F6;
    margin-right: 30px;
    padding: 0 30px;
    height: 50px; }
    .header .header__vk svg {
      margin: 0 8px 1px 0; }

@media (max-width: 768px) {
  .header .header__right {
    display: none; } }

footer {
  min-height: 93px; }

.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #5A5F6D;
  padding: 20px 0; }
  .footer .link__base {
    color: #8494F1; }
  .footer .footer__mail {
    padding: 0 20px; }

@media (max-width: 720px) {
  .footer {
    font-size: 14px; }
    .footer .footer__mail {
      max-width: 200px; } }

@media (max-width: 540px) {
  .footer {
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 40px; }
    .footer .footer__mail {
      margin: 20px 0;
      padding: 0; } }

.content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 100px 0 160px;
  width: 100%;
  max-width: 850px;
  margin: 0 auto; }
  .content .link__next {
    margin-top: 40px; }
  .content p {
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 26px; }
  .content .column {
    -ms-flex-align: start;
    align-items: flex-start; }

.content__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  margin: 0 0 17px; }

@media (max-width: 540px) {
  .content {
    padding-bottom: 80px; }
    .content p {
      font-size: 16px; }
    .content .link__next {
      margin: 40px auto 0; } }

.button__transparent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  background: none;
  color: #8494F1;
  font-size: 14px;
  font-weight: 600;
  padding: 0; }
  .button__transparent img, .button__transparent svg {
    margin-right: 8px;
    fill: #8494F1; }

.back-to-top {
  width: 50px;
  height: 50px;
  background-color: #E0E8F6;
  border: none;
  border-radius: 50%; }

.link__base {
  color: #2B50ED; }
  .link__base:hover {
    text-decoration: underline; }

.link__next {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2B50ED;
  height: 52px;
  border-radius: 52px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px; }
  .link__next svg {
    margin-left: 8px; }

.not-found .header .user .user__name {
  -ms-flex-order: 1;
  order: 1;
  margin: 0 0 0 16px; }

.not-found .row {
  position: relative;
  -ms-flex: 1;
  flex: 1; }

.not-found .content {
  margin: 0;
  width: calc(100% - 400px);
  padding-right: 20px; }
  .not-found .content .page__title {
    font-size: 40px;
    line-height: 52px; }
  .not-found .content p {
    color: #5A5F6D;
    max-width: 630px;
    line-height: 26px; }

.not-found .not-found__image {
  position: absolute;
  top: 0;
  left: calc(100% - 400px);
  max-width: 835px;
  height: 100%;
  max-height: 910px;
  overflow: hidden; }
  .not-found .not-found__image img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    margin-left: -30vh; }

.not-found .footer {
  border-top-color: #E0E8F6;
  color: rgba(90, 95, 109, 0.6); }
  .not-found .footer .link__base {
    color: #2B50ED; }
  .not-found .footer .footer__mail {
    max-width: 254px; }

.not-found .button__transparent {
  color: #2B50ED; }
  .not-found .button__transparent svg {
    fill: #2B50ED; }

@media (max-width: 768px) {
  .not-found .row {
    -ms-flex-flow: column;
    flex-flow: column; }
  .not-found .content {
    width: 100%;
    padding-bottom: 40px; }
  .not-found .not-found__image {
    position: static;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: initial;
    width: 100vw;
    max-width: none; }
    .not-found .not-found__image img {
      margin: 0;
      height: 100%;
      width: 100%; } }

@media (max-width: 576px) {
  .not-found .content .page__title {
    font-size: 32px;
    line-height: 41.6px; }
  .not-found .content p {
    font-size: 16px;
    line-height: 23px; }
  .not-found .not-found__image {
    margin: 20px -18px 50px; } }

@media (max-width: 320px) {
  .not-found .content .page__title {
    font-size: 26px;
    line-height: 33.8px; }
  .not-found .content p {
    font-size: 16px; }
  .not-found .not-found__image {
    margin: 20px -15px 50px; } }
