@import '../vars'


.button__transparent
  display: flex
  align-items: center
  justify-content: center
  border: none
  background: none
  color: $c-textLightBlue
  font-size: 14px
  font-weight: 600
  padding: 0
  img, svg
    margin-right: 8px
    fill: $c-textLightBlue

.back-to-top
  width: 50px
  height: 50px
  background-color: $c-backToTop
  border: none
  border-radius: 50%
