@import '../vars'


footer
  height: $footerHeight
  width: 100%
  max-width: 1320px
  margin: 0 auto
  padding: 50px 15px 0

.footer
  display: flex
  align-items: center
  justify-content: space-between
  border-top: 1px solid $c-border
  padding: 20px 0