@import '../vars'


header
  position: relative
  background-color: $c-header
  height: $heightHeader
  color: $c-textAlternate
  box-shadow: 0 1px 12px rgba(48, 51, 61, 0.18)
  z-index: 1

.header
  display: flex
  align-items: center
  justify-content: space-between
  height: 100%

  .user
    display: flex
    align-items: center
    .user__name
      margin-right: 16px
    .user__logo
      width: 40px
      height: 40px
      object-fit: cover
      object-position: center
      border-radius: 50%

